.special-container {
    width: 1100px;
    height: 122px;
    margin: 95px auto 0px;
    display: flex;
    justify-content: space-between;
    .special {
        width: 263px;
        height: 122px;
        border-radius: 4px;
        background-size: 100% 100%;
        display: block;
        .text-container {
            margin: 39px 24px 0px;
            font-size: 16px;
            color: #fff;
            p {
                margin-bottom: 0px;
            }
        }
    }
}